.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}
.dplayer-video-wrap {
    background-color: #000 !important;
}

.dplayer,
.dplayer-video-wrap,
.dplayer-video-current {
    width: 100% !important;
    height: 100% !important;
}

.dplayer-video-current {
    object-fit: contain;
}

@media (max-width: 640px) {
    .dplayer-controller {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}
